<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="$ROOT$favicon.ico">

    <title>minicoredumper</title>

    <!-- Bootstrap core CSS -->
    <link href="$ROOT$dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="$ROOT$dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="$ROOT$theme.css" rel="stylesheet">

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$ROOT$#">minicoredumper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="$ROOT$#news">News</a></li>
            <li><a href="$ROOT$#downloads">Downloads</a></li>
            <li><a href="$ROOT$#support">Support</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="$ROOT$installation.html">Installation</a></li>
                <li><a href="$ROOT$faq.html">FAQ</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">minicoredumper man pages</li>
                <li><a href="$ROOT$man/man1/minicoredumper.1.html">minicoredumper(1)</a></li>
                <li><a href="$ROOT$man/man5/minicoredumper.cfg.json.5.html">minicoredumper.cfg.json(5)</a></li>
                <li><a href="$ROOT$man/man5/minicoredumper.recept.json.5.html">minicoredumper.recept.json(5)</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">tool man pages</li>
                <li><a href="$ROOT$man/man1/coreinject.1.html">coreinject(1)</a></li>
                <li><a href="$ROOT$man/man1/minicoredumper_dbusd.1.html">minicoredumper_dbusd(1)</a></li>
                <li><a href="$ROOT$man/man1/minicoredumper_trigger.1.html">minicoredumper_trigger(1)</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">library man pages</li>
                <li><a href="$ROOT$man/man7/libminicoredumper.7.html">libminicoredumper(7)</a></li>
                <li><a href="$ROOT$man/man3/mcd_dump_data_dbus_start.3.html">mcd_dump_data_dbus_start(3)</a></li>
                <li><a href="$ROOT$man/man3/mcd_dump_data_dbus_stop.3.html">mcd_dump_data_dbus_stop(3)</a></li>
                <li><a href="$ROOT$man/man3/mcd_dump_data_register_bin.3.html">mcd_dump_data_register_bin(3)</a></li>
                <li><a href="$ROOT$man/man3/mcd_dump_data_register_text.3.html">mcd_dump_data_register_text(3)</a></li>
                <li><a href="$ROOT$man/man3/mcd_dump_data_unregister.3.html">mcd_dump_data_unregister(3)</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
