    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="$ROOT$jquery/1.11.3/jquery.min.js"></script>
    <script src="$ROOT$dist/js/bootstrap.min.js"></script>
    <script src="$ROOT$assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="$ROOT$assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
